<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <h2>Thanks for registering to the site !</h2>
    ---------------------------------------------
    <p>we'll update you with our next plans for you shortly</p>
    <p>Until then u can view your <%= link_to "fellow_participants_here", users_url %>

    <p>Thanks for your participation once again,</p>
    <p>Hope to see you soon!</p>
  </body>
</html>